<app-headerr></app-headerr>
<section class="hero">
  <div class="hero-text" [@textAnimation]="'in'">
    <h1>Online Banking</h1>
    <p>Electronic Payment</p>
    <p>You must be able to convey information via phone, email, and in person. You want to make sure your tone is always professional but friendly.</p>
    <button class="get-started">Get Started</button>
    <div class="social-icons">
      <a href="https://facebook.com">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a href="https://twitter.com">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
      <a href="https://instagram.com">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
    </div>
  </div>
  <div class="hero-image" [@imageAnimation]="'in'">
    <img src="assets/pictures/home.png" alt="Bank Illustration">
  </div>
</section>
<section class="services">
  <div class="service hidden" [@serviceAnimation]="'in'">
    <h3>Développement Logiciel</h3>
    <p>Notre équipe de développeurs talentueux peut créer des solutions logicielles sur mesure pour répondre à vos besoins spécifiques. De la conception initiale à l'implémentation et au support continu, nous vous accompagnons à chaque étape du processus de développement.</p>
  </div>
  <div class="service hidden" [@serviceAnimation]="'in'">
    <h3>Conception Graphique</h3>
    <p>Une image vaut mille mots, et notre équipe de concepteurs graphiques expérimentés peut donner vie à votre vision. Que ce soit pour la création de logos, d'interfaces utilisateur attrayantes ou de supports marketing percutants, nous sommes là pour vous aider à captiver votre public cible.</p>
  </div>
  <div class="service hidden" [@serviceAnimation]="'in'">
    <h3>Stratégie Numérique</h3>
    <p>Naviguer dans le paysage numérique peut être complexe, mais avec notre expertise en stratégie numérique, nous pouvons vous guider vers le succès. Que vous cherchiez à augmenter votre visibilité en ligne, à améliorer votre présence sur les réseaux sociaux ou à développer une stratégie de marketing de contenu, nous sommes là pour vous aider à élaborer une stratégie efficace et adaptée à vos objectifs.</p>
  </div>
</section>

<section class="partners">
  <h2>Our Partners</h2>
  <div class="image-carousel">
    <div class="carousel-track">
      <div class="carousel-item">
        <img src="assets/pictures/amendis.png" alt="Product Design">
        <p>Amendis</p>
      </div>
      <div class="carousel-item">
        <img src="assets/pictures/inwi.png" alt="Typography">
        <p>Inwi</p>
      </div>
      <div class="carousel-item">
        <img src="assets/pictures/orange.png" alt="Animation">
        <p>Orange</p>
      </div>
      <div class="carousel-item">
        <img src="assets/pictures/redal.png" alt="Web Design">
        <p>Redal</p>
      </div>
      <div class="carousel-item">
        <img src="assets/pictures/maroc-telecom.png" alt="Branding">
        <p>Maroc Telecom</p>
      </div>
      <div class="carousel-item">
        <img src="assets/pictures/attijariwafa.png" alt="Illustration">
        <p>Attijari Wafa Bank</p>
      </div>
      <div class="carousel-item">
        <img src="assets/pictures/chaabi.png" alt="Animation">
        <p>Bank Populaire</p>
      </div>
      <div class="carousel-item">
        <img src="assets/pictures/bmci.png" alt="Web Design">
        <p>BMCI</p>
      </div>
      <div class="carousel-item">
        <img src="assets/pictures/sg.png" alt="Branding">
        <p>Socite Generale</p>
      </div>
      <div class="carousel-item">
        <img src="assets/pictures/amendis.png" alt="Product Design">
        <p>Amendis</p>
      </div>
      <div class="carousel-item">
        <img src="assets/pictures/inwi.png" alt="Typography">
        <p>Inwi</p>
      </div>
      <div class="carousel-item">
        <img src="assets/pictures/orange.png" alt="Animation">
        <p>Orange</p>
      </div>
      <div class="carousel-item">
        <img src="assets/pictures/redal.png" alt="Web Design">
        <p>Redal</p>
      </div>
      <div class="carousel-item">
        <img src="assets/pictures/maroc-telecom.png" alt="Branding">
        <p>Maroc Telecom</p>
      </div>
      <div class="carousel-item">
        <img src="assets/pictures/attijariwafa.png" alt="Illustration">
        <p>Attijari Wafa Bank</p>
      </div>
      <div class="carousel-item">
        <img src="assets/pictures/chaabi.png" alt="Animation">
        <p>Bank Populaire</p>
      </div>
      <div class="carousel-item">
        <img src="assets/pictures/bmci.png" alt="Web Design">
        <p>BMCI</p>
      </div>
      <div class="carousel-item">
        <img src="assets/pictures/sg.png" alt="Branding">
        <p>Socite Generale</p>
      </div>
    </div>
  </div>
</section>
<body>
<section class="team-section">
  <div class="team-members">
    <div class="team-member">
      <div class="team-member-circle">
        <img src="assets/pictures/girlka.PNG" alt="Paul Basten">
      </div>
      <h3>Kaoutar ZOUIHER</h3>
      <p>President</p>
    </div>
    <div class="team-member">
      <div class="team-member-circle">
        <img src="assets/pictures/girlm.PNG" alt="Carrie Abbey">
      </div>
      <h3>Maryam OUHDAN</h3>
      <p>Photographer</p>
    </div>
    <div class="team-member">
      <div class="team-member-circle">
        <img src="assets/pictures/girli.PNG" alt="Sue Attwood">
      </div>
      <h3>Ibtissam Elamine</h3>
      <p>Project Manager</p>
    </div>
    <div class="team-member">
      <div class="team-member-circle">
        <img src="assets/pictures/boyM.PNG" alt="John Smith">
      </div>
      <h3>Mohamed MARBOUH</h3>
      <p>Accountant</p>
    </div>
    <div class="team-member">
      <div class="team-member-circle">
        <img src="assets/pictures/boyayo.PNG" alt="Jane Zhang">
      </div>
      <h3>Mohamed ayoub FRAIJA</h3>
      <p>Sales Marketing</p>
    </div>
    <div class="team-member">
      <div class="team-member-circle">
        <img src="assets/pictures/boyA.PNG" alt="Brandon Claus">
      </div>
      <h3>Anwar AMMAR</h3>
      <p>Manager</p>
    </div>
  </div>
<!--  <div class="team-image" >-->
<!--    <img src="assets/pictures/background.PNG" alt="Bank Illustration">-->
<!--  </div>-->
</section>
